.adds {
	margin-bottom: 30px;
	@include mlg() {
		display: none;
	}
}
.adds__in {
	background-color: #fff;
	border: 1px solid #e9ebed;
	padding: 30px 20px 50px;
	position: relative;
}
.adds__container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.adds__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: -15px;
	margin-right: -15px;
}
.adds__box {
	width: 100%;
	flex: 0 0 152px;
	max-width: 152px;
	
}
.adds-item {
	padding: 20px 25px;
	display: block;
	text-align: center;
	&:hover, &:focus {
		text-decoration: none;
	}
}
.adds-item__img {
	background-repeat: no-repeat;
	display: inline-block;
	width: 100px;
	height: 50px;
	transition: transform linear .2s;
	background-image: url('../images/adds-sprite.png');
	&:hover, &:focus {
		transform: translateY(-10px);
	}
	&_1 {
		background-position: 0 0;
	}
	&_2 {
		background-position: 0 -51px;
	}
	&_3 {
		background-position: 0 -102px;
	}
	&_4 {
		background-position: 0 -153px;
	}
	&_5 {
		background-position: 0 -204px;
	}
	&_6 {
		background-position: 0 -255px;
	}
	&_7 {
		background-position: 0 -306px;
	}
	&_8 {
		background-position: 0 -357px;
	}
	&_9 {
		background-position: 0 -510px;
	}
	&_10 {
		background-position: 0 -561px;
	}
	&_11 {
		background-position: 0 -612px;
	}
	&_12 {
		background-position: 0 -663px;
	}
	&_13 {
		background-position: 0 -714px;
	}
	&_14 {
		background-position: 0 -765px;
	}
}

.adds__search-company {
	position: absolute;
	right: 50px;
	bottom: 20px;

	padding-right: 15px;

	color: #0094df;
	&:after {
		content: '';

		position: absolute;
		top: 50%;
		right: 0;
		width: 7px;
		height: 7px;
		margin-top: -3px;

		border-left: 1px solid #0094df;
		border-bottom: 1px solid #0094df;
		transform: rotate(-135deg);
	}
	&:hover, &:focus {
		color: #0094df;
		&:after {
			right: -3px;
		}
	}
}