.add-type {
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	flex-wrap: wrap;
	li {
		padding-left: 15px;
		padding-right: 15px;
		display: flex;
		flex-direction: column;
	}
	a {
		position: relative;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: 20px;
		font-weight: 700;
		@include mlg() {
			font-size: 11px;
			font-weight: 400;
		}
		@include lg() {
			font-size: 20px;
		}
		&:after {
			content: '';

			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			background-color: #fff;
			height: 5px;

			opacity: 0;
			visibility: hidden;
		}
		.svg-icon {
			font-size: 30px;
			color: #fff;
			margin-bottom: 5px;
		}
		&:hover, &:focus {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
		&:hover, &:focus {
			text-decoration: none;
		}
		&.active {
			color: #000 !important;
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}