.banner {
	margin-bottom: 30px;
}
.banner__in {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	border: 1px solid #e9ebed;

	background-repeat: no-repeat;
	background-position: 60% 50%;
	min-height: 115px;
	padding: 0 70px;
	@include mlg() {
		background-image: none !important;
	}
	@include msm() {
		padding: 0 15px;
	}
	&:hover, &:focus {
		text-decoration: none;
	}
	&_background_blue {
		background-color: #003366;
		.banner__button {
			color: #fff;
			border-color: #fff;
			&:hover, &:focus {
				opacity: 1;
				box-shadow: 0 3px 12px rgba(#fff, .3);
			}
		}
	}
}
.banner__title-img {
	display: block;
	width: 100%;
	height: 100%;
	max-width: 446px;
	font-size: 0;
	margin-bottom: auto;

	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
	// &:after {
	// 	content: '';
	// 	display: block;
	// 	padding-bottom: percentage(104 / 446);
	// }
	@include mlg() {
		margin-left: auto;
		margin-right: auto;
	}
}
.banner__button {
	@include mlg() {
		display: none;
	}
}