.button-clr {
	padding: 0;
	border: none;
	background-color: transparent;
	&:focus {
		outline: none;
	}
}
.button {
	display: inline-block;
	border: 1px solid #fff;

	font-size: 20px;
	line-height: 1;
	font-weight: 700;
	color: #fff;
	text-align: center;

	border-radius: 5px;
	padding: 9px 20px;
	&:hover, &:focus {
		text-decoration: none;
		color: #fff;
		box-shadow: 0 3px 12px rgba(#fff, .3);
	}
	&_blue {
		border-color: #0094df;
		background-color: transparent;
		color: #0094df;
		font-size: 17px;
		&:hover, &:focus {
			opacity: .8;
			color: #0094df;
			box-shadow: none;
		}
	}
	&_radius_21 {
		border-radius: 21px;
	}
	&-green {
		background-color: #74c241;
		border-color: #74c241;
		color: #fff !important;
		&:hover {
			background-color: #6eb83e;
			border-color: #6eb83e;
		}
	}
	&-blue {
		border-color: #00a1f1;
		background-color: #00a1f1;
		color: #fff !important;
		&:hover {
			border-color: #0091d9;
			background-color: #0091d9;
		}
	}
}

.button-red {
	display: block;
	background-color: #cf2160;

	font-size: 17px;
	font-weight: 700;
	line-height: 1;
	border: 1px solid #cf2160;
	color: #fff;
	text-align: center;

	padding: 11px 20px 10px;
	border-radius: 5px;
	&:hover, &:focus {
		color: #fff;
		text-decoration: none;
		background-color: #a81349;
		border-color: #a81349;
	}
}
.button-green {
	display: block;
	background-color: #6eb83e;

	font-size: 17px;
	font-weight: 700;
	line-height: 1;
	border: 1px solid #6eb83e;
	color: #fff;
	text-align: center;

	padding: 11px 20px 10px;
	border-radius: 5px;
	&:hover, &:focus {
		color: #fff;
		text-decoration: none;
		background-color: #65a939;
		border-color: #65a939;
	}
}

.button-blue {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 7px 20px;
	font-size: 17px;
	line-height: 1.41176471;
	border-radius: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #fff;
	background-color: #00a1f1;
	border-color: transparent;
	&:hover, &:focus {
		background-color: #0091d9;
		color: #fff;
		text-decoration: none;
	}
}