.card {
	display: block;
	background-color: #fff;
	padding: 15px;
	border: 1px solid #e9ebed;
	margin-bottom: 30px;
	@include md() {
		padding: 30px;
	}
	.header-search-select {
		margin-bottom: 30px;
		display: inline-block;
		max-width: 300px;
	}
	&_transparent {
		background-color: transparent;
		border: none;
		&:hover {
			z-index: 3;
		}
	}
}
.card__full-in {
	margin: -15px;
	// background-color: #fff;
	@include md() {
		margin: -30px;
	}
}