.goods-carousel {
	.owl-stage {
		display: flex;
	}
	.owl-nav {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translate(0, -50%);
		margin-top: -10px;
		margin-bottom: 0;
		[class*="owl-"] {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			font-size: 30px !important;
			color: #0094df !important;
			&:hover {
				background-color: #fff;
			}
			&:focus {
				outline: none;
			}
		}
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
	}
	.owl-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	img {
		flex-shrink: 0;
		width: 130px !important;
		margin-left: auto;
		margin-right: auto;
		transition: linear .1s;
		&:hover {
			transform: translate(0, -5px);
		}
	}
}