.card-menu {
	position: relative;
	z-index: 2;
	display: inline-flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		& > a, & > span {
			position: relative;
			display: block;
			padding: 10px 30px;
			margin-right: -1px;
			margin-bottom: -1px;
			border: 1px solid #e9ebed;

			color: #0094df;

			background-color: #fff;
			@include msm() {
				padding-left: 15px;
				padding-right: 15px;
			}
			&.active {
				color: #2c3f52;
				border-bottom-color: transparent;
				&:hover, &:focus {
					color: #2c3f52;
				}
			}
			&:hover, &:focus {
				color: #0094df;
				text-decoration: none;
			}
		}

	}
	& + .card {
		position: relative;
		z-index: 1;
	}
}

.card-menu__number {
	color: #abb2ba;
	@include msm() {
		display: none;
	}
}