.checkbox {
	display: inline-block;
	input {
		&:checked {
			& + label {
				font-weight: 700;
			}
		}
	}
}
.checkbox-line-through {
	.checkbox-input {
		&:checked {
			& + .checkbox-label {
				// font-weight: 400;
				.checkbox-txt {
					text-decoration: line-through;
				}
			}
		}
	}
}
.checkbox-text-grey {
	.checkbox-input {
		&:checked {
			& + .checkbox-label {
				.checkbox-txt {
					color: #6b7886;
				}
			}
		}
	}
}
.checkbox-input {
	&:checked {
		& + .checkbox-label {
			font-weight: 400;
			.checkbox-pseudo {
				.svg-icon {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
.checkbox-label {
	
}
.checkbox-pseudo {
	position: relative;
	display: block;
	width: 25px;
	height: 25px;
	cursor: pointer;
	border: 1px solid #b5c9d7;
	border-radius: 5px;
	background: #fff;
	flex-shrink: 0;
	margin-right: 20px;
	.svg-icon {
		color: #74c241;
		position: absolute;
		top: -1px;
		right: -1px;
		font-size: 22px;
		opacity: 0;
		visibility: hidden;
		transition: linear .1s;
	}
}