.cities-list {

}
.city {
	display: block;
	text-align: center;
}
.city-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90px;
	height: 90px;
	background-image: url('../images/emblems-1.png');
	background-repeat: no-repeat;
	background-size: 90px auto;
	&_kyiv {
		background-position: 0 -800px;
	}
	&_dn {
		background-position: 0 -200px;
	}
	&_zp {
		background-position: 0 -600px;
	}
	&_lv {
		background-position: 0 -1200px;

	}
	&_od {
		background-position: 0 -1400px;

	}
	&_hr {
		background-position: 0 -1900px;

	}
}
.city-name {
	color: #0094df;
}
.city-adds {
	color: #abb2ba;
}