.collapse-btn {
	&:not(.collapsed) {
		.svg-arrow {
			transform: rotate(90deg);
			&.svg-icon_rotate_90 {
				transform: rotate(270deg);
			}
		}
		.link_arrow_right {
			
		}
	}
}


.collapse-btn-style {
	border-bottom: 1px dashed #80d0f8;
	.svg-icon {
		font-size: 10px;
	}
	&:hover {
		border-bottom-color: transparent;
	}
}