.company-card {
	width: 100%;
	display: block;
	text-align: center;
	border: 1px solid #e9ebed;
	margin-right: -1px;
	margin-bottom: -1px;
	padding: 30px 10px;

	background-color: #fff;
	&:hover, &:focus {
		text-decoration: none;
		border-color: #abb2ba;
		z-index: 12;
		.company-card__title {
			text-decoration: underline;
		}
	}
	&_full {
		width: 100%;
		text-align: left;
		@include sm() {
			padding-left: 30px;
			padding-right: 30px;
		}
		h2 {
			color: #0094df;
		}
	}
}
.company-card__logo {
	width: 100%;
	max-width: 100px;
}
.company-card__title {
	color: #0094df;
	margin-top: 20px;
	font-weight: 700;
	margin: 20px 0 0;
}
.company-card__sub {
	color: #abb2ba;
}

.company-card__logo-column {
	width: 100%;
	margin-bottom: 10px;
	@include lg() {
		max-width: 160px;
		flex: 0 0 160px;
		margin-bottom: 0;
	}
}
.company-card__content-column {
	@include lg() {
		flex: 1 1 0;
	}
}
.company-card__content-head {
	// margin-bottom: 20px;
	h2 {
		margin-bottom: 15px;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}
.company-card__vacancy-number {
	text-align: center;
	color: #0094df;
	margin-bottom: 20px;
	strong {
		font-size: 24px;
		line-height: 1;
	}
	&:hover, &:focus {
		text-decoration: underline;
	}
}
.company-card__content {
	color: #6b7886;
	max-width: 600px;
	&:after {
		content: '';
		display: inline-block;
		width: 8px;
		height: 8px;
		border-left: 2px solid #0094df;
		border-bottom: 2px solid #0094df;
		transform: rotate(-135deg);
		position: relative;
		top: -1px;
		margin-left: 5px;
	}
}
.company-card__content-main {
	margin-bottom: 20px
}