h1 {
	font-size: 24px;
	line-height: 1.09375;
	color: #000;
	font-weight: 700;
	@include md() {
		font-size: 32px;
	}
}
h2 {
	font-size: 19px;
	font-weight: 700;
	color: #000;
	margin-bottom: 20px;
	@include md() {
		font-size: 24px;
		line-height: 1.08333333;
	}
	.link_arrow_right {
		&:before {
			border-width: 2px;
			width: 10px;
			height: 10px;
			margin-top: -3px;
			margin-right: -10px;
		}
	}
}
h3 {
	font-size: 19px;
	color: #000;
	line-height: 1.08333333;
	font-weight: 400;
	margin: 30px 0 20px;
	@include md() {
		font-size: 24px;
	}
}
h5 {
	font-weight: 700;
	font-size: 17px;
}
.sub-title {
	background-color: #00a1f1!important;
    border: 1px solid #00a1f1!important;
    text-align: left;
    max-width: 565px;
    margin: 0 20px -85px -20px;
    padding: 0 20px 75px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    	color: #fff;
    }
    @include md() {
    	margin-left: -30px;
	    padding-left: 30px;
	    padding-right: 30px;
    }
}

.sub-text {
	color: #6b7886;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 19px;
	font-weight: 400;
	line-height: 1.36842105;
	margin-bottom: 20px;
}
.title {
	margin: 20px 0 30px;
}
.wide {
	margin-left: -15px !important;
	margin-right: -15px !important;
	@include md() {
		margin-left: -30px !important;
		margin-right: -30px !important;
	}
}

.dl-horizontal {
	margin: 20px 0;
	line-height: 1.41176471;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	dt {
		float: left;
		width: 160px;
		text-align: left;

		font-weight: 400;
		color: #6b7886;
	}
	dd {
		margin-left: 165px;
		margin-bottom: 10px;
	}
}

a {
	color: #0094df;
	&:hover, &:focus {
		color: #0094df;
	}
}

.devider {
	border: none;
	border-bottom: 1px solid #e5e5e5;
	&_border_color_grey_else {
		border-bottom-color: #e9ebed;
	}
}

.text-grey {
	color: #6b7886 !important;
}
.text-grey-light {
	color: #abb2ba !important;
}
.text-main {
	color: #2c3f52 !important;
}
.text-decotation-underline {
	&:hover {
		text-decoration: underline !important;
	}
}
.text-green {
	color: #74c241;
}
.text-black {
	color: #000 !important;
}
.text-blue-light {
	color: #ccecfc !important;
}

.weight-400 {
	font-weight: 400 !important;
}
.weight-700 {
	font-weight: 700 !important;
}

.font-size-10 {
	font-size: 10px !important;
}
.font-size-12 {
	font-size: 12px !important;
}
.font-size-14 {
	font-size: 14px !important;
}
.font-size-15 {
	font-size: 15px !important;
}
.font-size-17 {
	font-size: 17px !important;
}
.font-size-19 {
	font-size: 19px !important;
}
.font-size-20 {
	font-size: 20px !important;
}
.font-size-24 {
	font-size: 24px !important;
}
.font-size-md-24 {
	@include md() {
		font-size: 24px !important;
	}
}
.font-size-32 {
	font-size: 32px !important;
}

.line-height-1 {
	line-height: 1;
}
.line-height-1-5 {
	line-height: 1.5;
}
.line-height-2 {
	line-height: 2;
}
.nowrap {
	white-space: nowrap;
}

.title-logo {
	border-top: 20px solid #e42469;
	max-width: 620px;

	font-size: 24px;
	color: #fff;

	h1 {
		font-size: 64px;
		color: #fff;
		margin: 0 0 20px;
	}
}

.heplfull-info {
	border: 1px solid #e9ebed;
}


.arrow-position {
	position: absolute;
	top: 100%;
	left: 100%;
	margin-top: -15px;
	margin-left: 20px;
}


.mark-title-position {
	position: absolute;
	left: 0;
	top: -10px;
}

.callout {
	&_orange {
		border-left: 5px solid #f5a623;
		background-color: rgba(245,166,35,.1);
	}
}

.box-ticks {
	background-color: #f4f5f6;
	border-radius: 5px;
	padding: 15px;
	@include md() {
		padding: 40px 30px;
	}
}


.article-preview {
	border: 1px solid #e9ebed;
	position: relative;
	& + & {
		margin-top: -1px;
	}
	p {
		margin-bottom: 5px;
	}
	&:hover {
		border: 1px solid #abb2ba;
		cursor: pointer;
		z-index: 2;
		.article-preview__img {
			img {
				transform: scale(1.03, 1.03);
			}
		}
		h2, h5 {
			a {
				text-decoration: underline;
			}
		}
	}
	&.d-md-flex {
		img {
			// width: 100%;
			// width: 150px;
			@include md() {
			}
		}
	}
}
.article-preview__img {
	overflow: hidden;
	img {
		transition: linear .2s;
	}
}

.stats-ban {
	&:hover {
		cursor: pointer;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			a {
				text-decoration: underline;
			}
		}
	}
}


.new-content {
	color: #2c3f52;
	line-height: 1.41176471;
	p {
		margin: 20px 0 5px 0;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 30px 0 20px;
	}
	ul {
		&:not(.list-unstyled) {
			list-style: none;
			margin-top: 10px;
			margin-bottom: 5px;
			padding-left: 0;
			li {
				margin-bottom: 5px;
				position: relative;
				padding-left: 20px;
				&:before {
					content: '';

					width: 8px;
					height: 8px;

					background-color: #abb2ba;
					border-radius: 50%;

					position: absolute;
					top: 7px;
					left: 0;
					// max-width: 0;
					// max-height: 0;
					// position: relative;
					// left: -20px;
					// top: -5px;
				}
			}
		}
	}
	samp {
		display: block;
		font-family: inherit;
		color: #000;
		font-size: 19px;
		font-weight: 400;
		line-height: 1.10526315;
		margin-top: 30px;
		margin-bottom: 20px;
		margin: 20px 0 20px -20px;
		padding-top: 20px;
		padding-left: 20px;
		background: url('../images/quotes__xs.png') 0 0 no-repeat;
		margin-left: 0;
		padding-top: 40px;
		padding-left: 40px;
		background-image: url('../images/quotes.png');
		color: #00a1f1!important;
		@include md() {
			font-size: 24px;
			line-height: 1.08333333;
		}
	}
}


.image-link {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

/* aligns caption to center */
.mfp-title {
	display: block;
  text-align: center;
  padding: 6px 0;
}


.comment {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 5px;
	}
}



small {
	display: block;
	font-size: 15px;
	color: #6b7886;
	margin-bottom: 5px;
	margin-top: 20px;
}