.dropdown {
	&.show {
		.svg-icon-arrow {
			transform: rotate(-90deg);
		}
	}
}
.dropdown-toggle {
	&:after {
		vertical-align: middle;
	}
}
.dropdown-item {
	&.active {
		// background-color: #003366;
		background-color: transparent;
		color: #2c3f52;
		font-weight: 700;
	}
}


.dropdown-link-toggle {
	display: inline-block;
	text-decoration: none !important;
	&:hover {
		span {
			text-decoration: underline !important;
		}
	}
}