.footer {
	margin-top: auto;
	border-top: 1px solid #00a1f1;
	padding-top: 20px;
	min-height: 200px;

	background-color: #fff;
}

.footer-menu {
	list-style: none;
	padding: 0;
	margin: 0 -10px;

	display: flex;
	flex-wrap: wrap;
	@include mlg() {
		margin-bottom: 20px;
	}
	li {
		padding-left: 10px;
		padding-right: 10px;
		&:before {
			content: '·';
			color: #abb2ba;
			display: block;
			font-size: 25px;
			max-width: 0;
			max-height: 0;
			position: relative;
			left: -15px;
			top: -6px;
			@include mlg() {
				display: none;
			}
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
	}
	a {
		color: #6b7886;
	}
}

.footer-copy {
	color: #6b7886;
}

.helpfull {
	margin-left: -10px;
	margin-right: -10px;
}

.footer__head {
	@include mlg() {
		margin-bottom: 10px;
	}
}
.footer__head-column {
	@include mlg() {
		margin-bottom: 10px;
	}
}