.form {

}
.form-in {
	background-color: #f4f5f6;
	border: 1px solid #e9ebed;
	margin-bottom: -1px;
	padding: 20px 30px;
	position: relative;

	max-width: 380px;
	margin-left: auto;
	margin-right: auto;
	@include msm() {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.pseudo-tab {
	text-align: left;
	max-width: 380px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -1px;
	position: relative;
	z-index: 2;
	.border {
		border-color: #e9ebed !important;
		border-bottom-color: transparent !important;
	}
	span {
		color: #000;
	}
	a {
		text-decoration: none !important;
	}
}