.form-control {
	display: block;
	width: 100%;
	height: 40px;
	padding: 5px 10px;
	font-size: 19px;
	line-height: 30px;
	color: #2c3f52;
	background-color: #fff;
	background-image: none;
	border: 1px solid #b6c9d6;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	background-image: none !important;
	resize: none;
	@include iph() {
		color: #abb2ba;
	}
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
	  -webkit-appearance:none;
	}
	&:focus {
		box-shadow: none !important;
	}
}
select.form-control {
	width: auto;
}