.gallery {
	a {
		position: relative;
		border-radius: 8px;
		overflow: hidden;
	}
	.mfp-iframe {
	}
}
.play-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 25px;
	font-size: 0;

	z-index: 5;
	border-radius: 5px;

	background-color: rgba(#fff, .5);
	&:before {
		content: '';

		border-left: 10px solid #000;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
	}
}