.header-search {
	padding: 30px 0 10px;
	@include mxl() {
		padding-bottom: 0;
	}
	@include mmd() {
		padding-top: 15px;
	}
}
.header-search__row {
	@include md() {
		// justify-content: flex-end;
	}
	.column {
		margin-bottom: 10px;
	}
}
.header-search__title {
	font-size: 32px;
	line-height: 1.2;
	font-weight: 700;
	color: #fff;
	margin-bottom: 5px;
}
.header-search__descr {
	font-size: 17px;
	line-height: 24px;
	color: #fff;
	margin-bottom: 20px;
}
.header-search__number {
	color: #fff;
	&:hover, &:focus {
		color: #fff;
		text-decoration: none;
	}
}
.header-search__group {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
	@include mmd() {
		// flex-grow: 0;
		// width: 100%;
	}
	&_large {
		// flex-grow: 2;
		@include mmd() {
			// width: 100%;
		}
	}
	&_medium {
		// flex-grow: 1;
		@include md() {
			// width: 300px;
			// flex-shrink: 0;
			// flex-grow: 0;
		}
	}
}

.header-search__input {
	width: 100%;
	display: block;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 19px;
    line-height: 30px;
    color: #2c3f52;
    background-color: #fff;
    background-image: none;
    border: 1px solid #b6c9d6;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.header-search__input-helper {
	color: #fff;
	font-size: 17px;
	line-height: 21px;
	padding: 10px 0;
	@include mxl() {
		display: none;
	}
}
.header-search__example {
	color: #fff;
	display: inline-block;
	border-bottom: 1px dashed #fff;
	&:hover, &:focus {
		color: #fff;
		border-bottom-color: transparent;
		text-decoration: none;
	}
}
.header-search-select {
	width: 100%;
	display: block;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 19px;
    line-height: 30px;
    color: #2c3f52;
    background-color: #fff;
    background-image: none;
    border: 1px solid #b6c9d6;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.header-search__extented {
	display: block;
	text-align: right;
	color: #fff;
	font-size: 17px;
	// padding: 10px 0;
	text-decoration: underline;
	&:hover, &:focus {
		text-decoration: none;
		color: #fff;
	}
	@include mxl() {
		// display: none;
	}
}

.header-search__submit {
	@include mmd() {
		// width: 100%;
	}
}