.header {
	background-color: #003366;
	background: -webkit-linear-gradient(-72deg,#004d9b 27%,#003366 50%) #003366;
	background: -o-linear-gradient(-72deg,#00b0f3 27%,#008cec 50%) #00a1f1;
	background: -ms-linear-gradient(-72deg,#00b0f3 37%,#008cec 54%) #00a1f1;
	// min-height: 328px;
	padding: 10px 0;
	&_v2 {
		background-color: #fff;
		background: #fff;
		.header-search {
			position: relative;
			&:before {
				content: '';

				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: -webkit-linear-gradient(-82deg, #e4246a 0, #dc286d 13%, #be3a80 20%, #90549e 30%, #135ea8 39%, #1a5a99 55%, #154a7e 70%, #003163 81%, #001529 99%, #003366 100%);
				background: -moz-linear-gradient(-82deg, #e4246a 0, #dc286d 13%, #be3a80 20%, #90549e 30%, #135ea8 39%, #1a5a99 55%, #154a7e 70%, #003163 81%, #001529 99%, #003366 100%);
				background: -o-linear-gradient(-82deg, #e4246a 0, #dc286d 13%, #be3a80 20%, #90549e 30%, #135ea8 39%, #1a5a99 55%, #154a7e 70%, #003163 81%, #001529 99%, #003366 100%);
				background: -ms-linear-gradient(-82deg, #e4246a 0, #dc286d 13%, #be3a80 20%, #90549e 30%, #135ea8 39%, #1a5a99 55%, #154a7e 70%, #003163 81%, #001529 99%, #003366 100%);
			}
			& > * {
				position: relative;
			}
		}
		.add-type {
			a {
				color: #00a1f1;
				&:after {
					background-color: #e42469;
				}
			}
			.svg-icon {
				color: #00a1f1;
			}
		}
		.header__log-button {
			@include mlg() {
				color: #00a1f1;
			}
			@include lg() {
				background-color: #00a1f1;
				color: #fff;
				border-color: #00a1f1;
				&:hover, &:focus {
					background-color: #0a7eb7;
					border-color: #0a7eb7;
				}
			}
		}
		.lang__button {
			color: #abb2ba;
			&:after {
				border-color: #abb2ba;
			}
		}
		.header__logo {
			@include msm() {
				background-image: url('../images/work-uz-mob.png');
			}
			&:after {
				background-color: #e42469;
			}
		}
		.header__row_secondary {
			&:after {
				display: none;
			}
		}
	}
	&_unregister {
		padding-bottom: 0;
		.header__row_secondary {
			padding-top: 0;
			&:after {
				display: none;
			}
		}
		.link_to_login {
			@include mmd() {
				display: none;
			}
		}
	}
}
.header__container {
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.header__row {
	position: relative;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	&_flex-end {
		justify-content: flex-end;
	}
	&_secondary {
		z-index: 1;
		min-height: 80px;
		&:after {
			content: '';

			position: absolute;
			bottom: 0;
			left: 15px;
			right: 15px;

			border-bottom: 1px solid #fff;
		}
	}
}
.header__column {
	padding-left: 15px;
	padding-right: 15px;
	@include mmd() {
		margin-bottom: 5px;
	}
	&_logo {
		margin-right: auto;
		display: flex;
		flex-direction: column;
		@include mmd() {
			margin-bottom: 0;
		}
	}
	&_personal {
		margin-top: auto;
		margin-bottom: auto;
	}
}
.header__logo {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include msm() {
		background-image: url('../images/work-uz-mob-white.png');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		width: 40px;
		// height: 40px;
		background-size: 40px 40px;
		img {
			display: none;
		}
	}
	&:after {
		content: '';

		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		background-color: #fff;
		height: 5px;

		opacity: 0;
		visibility: hidden;
	}
	&:hover, &:focus {
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
	@include msm() {
		// width: 80px;
	}
}
.header__add-type {

}
.header__personal {

}

.header__log-button {
	@include mlg() {
		text-align: center;
		border-color: transparent;
		font-weight: 400;
		font-size: 11px;
		padding-left: 0;
		padding-right: 0;
		.svg-icon {
			font-size: 30px;
			margin-bottom: 7px;
		}
		&:hover, &:focus {
			box-shadow: none;
		}
	}
}

.header-title {
	h1 {
		@include mmd() {
			font-size: 36px;
		}
	}
}

.header__column_employer {
		align-items: center;
		display: flex;
	@include mlg() {
		// width: 100%;
		// max-width: 140px;
	}
}