.lang {
	position: relative;
	&:hover, &:focus {
		.lang__button {
			&:after {
				transform: translate(0, -50%) rotate(-135deg);
			}
		}
		.lang__list {
			opacity: 1;
			visibility: visible;
		}
	}
}
.lang__button {
	display: inline-block;
	color: #fff;
	position: relative;
	padding-right: 15px;
	@include mmd() {
		font-size: 15px;
	}
	&:after {
		content: '';
		
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%) rotate(-45deg);
		margin-top: -1px;

		width: 6px;
		height: 6px;
		border-left: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}
	&:hover, &:focus {
		color: #fff;
	}
	&_user {
		&:after {
			transform: translate(0, -50%) rotate(-135deg);
			margin-top: 1px;
		}
	}
	&_blue {
		color: #0094df;
		&:after {
			border-color: #0094df;
		}
		&:hover, &:focus {
			color: #0094df;
		}
	}
	&_border {
		padding: 6px 25px 6px 10px;
		border: 1px solid #0094df;
		border-radius: 5px;

		font-weight: 700;
		&:after {
			right: 12px;
		}
		&:hover, &:focus {
			text-decoration: none;
			&:after {
				right: 9px;
			}
		}
	}
}
.lang__list {
	position: absolute;
	top: 100%;
	left: 0;

	padding: 10px;
	margin: 0;
	
	list-style: none;

	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px 2px rgba(#000, .3);

	opacity: 0;
	visibility: hidden;
	transition: linear .2s;
	a {
		display: block;
		color: #003366;
		&:hover, &:focus {
			color: #003366;
		}
	}
}