.link {
	display: inline-block;
	color: #0094df;
	text-decoration: none;
	&:hover, &:focus {
		color: #0094df;
		text-decoration: underline;
	}
	&_to_login {
		color: #fff;
		padding-left: 15px;
		padding-right: 15px;
		&:hover, &:focus {
			color: #fff;
		}
	}
	&_to_back {
		padding-left: 15px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;

			width: 8px;
			height: 8px;
			border-left: 1px solid #0094df;
			border-bottom: 1px solid #0094df;
			transform: rotate(45deg);
			margin-top: -5px;
		}
	}
	&_to_next {
		padding-right: 15px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;

			width: 8px;
			height: 8px;
			border-left: 1px solid #0094df;
			border-bottom: 1px solid #0094df;
			transform: rotate(-135deg);
			margin-top: -4px;
		}
	}
	&_arrow_down {
		position: relative;
		padding-right: 15px;
		&:after {
			content: '';
			
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%) rotate(-45deg);
			margin-top: -1px;

			width: 6px;
			height: 6px;
			border-left: 1px solid #0094df;
			border-bottom: 1px solid #0094df;
		}
	}
	&_arrow_left {
		padding-left: 10px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;

			width: 6px;
			height: 6px;
			border-left: 1px solid #0094df;
			border-bottom: 1px solid #0094df;
			transform: rotate(45deg);
			margin-top: -1px;
		}
	}
	&_arrow_right {
		// padding-right: 10px;
		position: relative;
		&:after {
			content: '';
			// position: absolute;
			// top: 50%;
			// right: 0;
			
			position: relative;
			top: -1px;
			display: inline-block;
			margin-left: 5px;
			width: 6px;
			height: 6px;
			border-left: 1px solid #0094df;
			border-bottom: 1px solid #0094df;
			transform: rotate(-135deg);
			margin-top: -1px;
		}
		&_bottom {
			&:after {
				transform: rotate(-45deg);
				top: -3px;
				margin-left: 10px;
			}
		}
	}
	&_dashed {
		position: relative;
		&:hover {
			text-decoration: none;
			&:after {
				border-color: transparent !important;
			}
		}
		&:after {
			content: '';
			
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			border-bottom: 1px dashed #0094df;
		}
	}
	&.text-grey {
		&:after {
			border-color: #6b7886;
		}
	}
	&.active {
		color: #000;
	}
	&.is-active {
		color: #000 !important;
		text-decoration: none !important;
	}
}
.link-to-cities {
	display: inline-block;
	margin-top: 25px;
}


.employer-link {
	width: 100%;
	// color: #000 !important;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	@include mlg() {
		font-size: 14px;
	}
	.svg-icon {
		font-size: 30px;
		margin-top: 20px;
		margin-bottom: 5px;
		@include mlg() {
			margin: 0;
		}
		@include lg() {
			display: none;
		}
	}
	div {
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		@include mlg() {
			display: none;
		}
	}
	&.active {
		color: #000 !important;
	}
}


.popover-link {
	border-bottom: 1px dashed #212529;
	color: #212529 !important;
	text-decoration: none !important;
	&:hover {
		border-bottom-color: transparent;
	}
	&-green {
		border-bottom-color: #74c241;
		color: #74c241 !important;
	}
}

