.list-clr {
	padding: 0;
	margin: 0;
	list-style: none;
}
.list {
	padding: 0;
	padding-left: 20px;
	margin: 0;
	list-style: none;
	li {
		margin-bottom: 5px;
		&:before {
			content: '\2022';
			color: #abb2ba;
			display: block;
			font-size: 25px;
			max-width: 0;
			max-height: 0;
			position: relative;
			left: -20px;
			top: -5px;
		}
		&.disabled {
			color: #abb2ba;
		}
	}
	a {
		color: #0094df;
		text-decoration: none;
		&:hover, &:focus {
			color: #0094df;
			text-decoration: underline;
		}
	}
	&_columns_v2 {
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
		li {
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
			@include md() {
				max-width: 50%;
				flex: 0 0 50%;
			}
		}
	}
}

.list-more {
	margin: 30px 0 10px;
	color: #abb2ba;
}
.list-numbers {
	color: #abb2ba;
	margin: 0 5px;
}

.list-item {
	margin-bottom: 8px;
	& + .list-item {
		&:before {
			content: '·';
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}