.multiple {
	margin-bottom: 30px;
}
.multiple__container {

}
.multiple__row {

}
.multiple__column {
	display: block;
	@include mlg() {
		margin-bottom: 40px;
	}
	&:hover, &:focus {
		text-decoration: none;
	}
}
.multiple__title {
	color: #000;
	font-weight: 700;
	font-size: 24px;
	@include mlg() {
		font-size: 19px;
	}
}
.multiple__list {
	padding-bottom: 20px;
	border-bottom: 1px solid #e9ebed;
	margin-bottom: 20px;
	li {
		margin-bottom: 5px;
		&:before {
			content: '\2022';
			color: #abb2ba;
			display: block;
			font-size: 25px;
			max-width: 0;
			max-height: 0;
			position: relative;
			left: -20px;
			top: -5px;
		}
	}
	a {
		color: #0094df;
		text-decoration: none;
		&:hover, &:focus {
			color: #0094df;
			text-decoration: underline;
		}
	}
}
.multiple__link {
	margin-right: 8px;
	display: inline-block;
}

.multiple__payments {

}

.payment-circle {
	width: 130px;
	height: 130px;
	margin: 15px 3px 25px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: #6b7886;

	background-color: #fff;
	border-radius: 50%;
	line-height: 1;
	&_blue {
		border: 1px solid #00a1f1;
	}
	&_red {
		border: 1px solid #e42469;
	}
}
.payment-circle__nowrap {
	white-space: nowrap;
}
.celebration-circle {
	margin: 15px 0;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #e9ebed;
	width: 130px;
	height: 130px;

	line-height: 1.1;
	color: #2c3f52;

	background-color: #fff;
	border-radius: 50%;
	strong {
		font-size: 24px;
	}
}