.pagination {
	line-height: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	.link {
		&:before {
			margin-top: -2px !important;
		}
		// &:first-child {
		// 	padding-right: 10px;
		// }
		// &:last-child {
		// 	padding-left: 10px;
		// }
		&:hover {
			// text-decoration: none;
		}
	}
	li {
		margin: 5px;
		&:first-child {
			.link {
				padding-right: 10px;
			}
			@include mmd() {
				width: 100%;
				text-align: center;
			}
		}
		&:last-child {
			.link {
				padding-left: 10px;
			}
			@include mmd() {
				width: 100%;
				text-align: center;
			}
		}
		&.active {
			span {
				border-color: #e9ebed;
				background-color: #fff;
				&:hover {
					background-color: #fff;
				}
			}
		}
		&.disabled {
			opacity: .4;
			span {
				color: #6b7886;
				&:before {
					border-color: #6b7886;
				}
				&:hover {
					text-decoration: none;
				}
			}
			&:hover {
				span {
					cursor: not-allowed;
				}
			}
		}
		&.prev {
			a {
				width: auto !important;
				height: auto !important;
				&:hover {
					background-color: transparent;
				}
			}
		}
	}
	a, span {
		&:not(.link) {
			width: 43px;
			height: 43px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;

			// border: 1px solid #e9ebed;
			border: 1px solid transparent;
			border-radius: 50%;
			&:hover {
				text-decoration: none;
				background-color: #e9ebed;
			}
		}

	}
}

.pagination_mobile {
	li {
		.link {
			width: 43px;
			height: 43px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			background-color: #fff;

			border: 1px solid #e9ebed;
			border-radius: 50%;
			&:before {
				right: auto;
				left: 50%;
				margin-left: -3px;
			}
			&:hover {
				text-decoration: none;
				background-color: #fff;
			}
		}
		&:first-child {
			width: auto !important;
			.link {
				&:before {
					margin-left: -2px;
				}
			}
		}
		&:last-child {
			width: auto !important;
			.link {
				&:before {
					margin-left: -4px;
				}
			}
		}
		&:nth-child(2) {
			span {
				width: auto !important;
				height: auto !important;
			}
		}
		& > span {
			&:hover {
				background-color: transparent !important;
			}
		}
	}
}