.popover {
	border-color: transparent;
	&_new {
		max-width: none;
	}
}
.popover-body {
	box-shadow: 0 0 18px rgba(0,0,0,.3);
	background-color: #fff;
	border-radius: 8px;
	opacity: 1;
	color: $document-color;
	border-color: transparent;
}
.bs-popover-top > .arrow::before, .bs-popover-auto[x-placement^="top"] > .arrow::before {
	border-top-color: #fff;
}
.bs-popover-top > .arrow::before, .bs-popover-auto[x-placement^="top"] > .arrow::after {
	display: none;
}