.registration {
	
}
.registration-form {
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
.registration-form__logo {

}
.registration-form__title {
	margin: 30px 0;
}
.registration-form__question {
	margin: 40px 0 0;
}
.registration-form__button {
	display: block;
	width: 100%;
}