.resume {

}
.resume__in {
	padding: 30px;
	border: 1px solid #e9ebed;
	background-color: #fff;
	margin-bottom: 30px;
}
.resume__icon {
	margin-right: 30px;
	transition: linear .2s;
}
.resume__content {
	h3 {
		font-size: 24px;
		line-height: 1.1;
		color: #000;
		margin-top: 0;
		margin-bottom: 10px;
	}
	p {
		color: #2c3f52;
		margin: 0;
	}
}

.resume__column {
	@include lg() {
		display: block;
	}
	&:hover {
		color: #2c3f52;
		text-decoration: none;
		.resume__icon {
			transform: translate(0, -5px);
		}
	}

}
.resume__column_button {
	@include mlg() {
		width: 100%;
		.button-green {
			width: 100%;
		}
	}
}