.section {

}
.section-count {
	margin-bottom: 20px;
	span {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;

		font-size: 19px;
		color: #fff;

		border-radius: 50%;
		background-color: #e42469;
		&:before, &:after {
			content: '';

			position: absolute;
			top: 50%;
			transform: translate(0, -50%);

			width: 60px;

			border-bottom: 1px solid #abb2ba;
		}
		&:before {
			right: 100%;
			margin-right: 20px;
		}
		&:after {
			left: 100%;
			margin-left: 20px;
		}
	}
	&_list {
		span {
			&:before, &:after {
				display: none;
			}
		}
	}
}

.job-title {
	margin: 0 0 20px;
	font-size: 32px;
	@include md() {
		font-size: 56px;
	}
}
.job-title-sub {
	font-size: 24px;
	color: rgba(#2c3f52, .8);
	line-height: 35px;
	margin: 0 0 20px;
}