.separator {
	position: relative;
	padding: 1px;
	margin: 10px 0;
}
.separator__txt {
	display: inline-block;
	padding: 0 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #f4f5f6;
}