.sidebar-nav {
	list-style: none;
	padding: 0;
	margin: 0;

	display: block;
	.nav-item {
		// margin-bottom: 5px;
		padding-left: 5px;
		padding-right: 5px;
		.nav-link {
			display: inline-block;
			padding: 0;
			padding-bottom: 15px;
			padding-left: 15px;
			padding-right: 15px;
			border-bottom: 3px solid transparent;
			border-radius: 0;
			// &:hover, &:focus {
			// 	text-decoration: none;
			// 	color: #e42469;
			// 	border-color: #e42469;
			// }
			&.active {
				text-decoration: none;
				color: #e42469;
				border-color: #e42469;
				background-color: transparent;
			}
			&:hover {
				border-color: #e42469;
				text-decoration: none;
				
			}
		}
	}
	&:hover {
		.nav-link {
			&.active {
				border-color: transparent;
				&:hover {
					border-color: #e42469;
				}
			}
		}
	}
	&_fixed {
		// position: fixed;
		// top: 15px;
	}
}