.sidebar {
	opacity: 0;
	visibility: hidden;
	@include md() {
		display: none;
	}
	@include mmd() {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99999;

		display: flex;
		flex-direction: column;

		width: 100%;
		height: 100%;
		// overflow-y: auto;


		transition: linear .1s;

		background-color: #fff;
	}
	&.visible {
		opacity: 1;
		visibility: visible;
		@include md() {
			display: block;
		}
	}
	.devider {
		@include md() {
			// display: none;
		}
	}
}

.sidebar-in {
	@include mmd() {
		flex-grow: 1;
		overflow-y: auto;
		padding: 30px;
	}
}
.sidebar-foot {
	@include mmd() {
		border-top: 1px solid #e9ebed;
		background-color: #f4f5f6;
		position: relative;
		margin-top: -17px;
	}
}
.sidebar-close {
	position: absolute;
	right: 30px;
	top: 10px;
	opacity: .6;
	&:hover {
		opacity: 1;
	}
}

.sidebar-sub {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	// margin-left: -15px;
	// margin-right: -15px;
	width: 100%;
}

.sidebar-sub-collapse {
	display: none;
}


.sidebar-sticky {
	// transition: linear .2s;
	&_sticky {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
	}
	&_unvisible {
		opacity: 0;
		visibility: hidden;
		// position: absolute;
		// margin-top: -100px;
		height: 0;
	}
}