.small-card {
	border: 1px solid #e9ebed;
	border-left-color: transparent;
	border-right-color: transparent;

	padding: 15px;
	@include md() {
		padding: 30px;
	}
	&:hover, &:focus {
		border-color: #abb2ba;
		cursor: pointer;
	}
	h2 {
		color: #6b7886;
		a {
			
		}
		span {
			color: #6b7886;
			white-space: nowrap;
			font-weight: 400;
		}
	}
	h3 {
		// font-size: 24px;
		margin-top: 0;
		font-weight: 700;
	}
	&_effects_disabled {
		&:hover, &:focus {
			cursor: default;
			border-color: #e9ebed;
			border-left-color: transparent;
			border-right-color: transparent;

		}
	}
}