.social {
	display: inline-block;
	vertical-align: top;

	border-radius: 5px;
	color: #fff;
	height: 30px;
	width: 35px;
	position: relative;
	img {
		width: 100%;
		height: 100%;
	}
	&_fb {
		// background-color: #3b5998;
	}
	&_tw {
		// background-color: #55acee;
	}
}