.tag {
	display: inline-block;
	padding: 3px 8px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .45em;
	margin: 5px 0;
	text-decoration: none !important;
	&_grey {
		color: #6b7886 !important;
		background-color: #e9ebed;
	}
	&_verified {
		background-color: #4eb2e0;
	}
	&_vip {
		background-color: #ffca27;
	}
	&_agency {
		background-color: #e9ebed;
		color: #6b7886 !important;
	}
	&_hot {
		background-color: #ff9500;
	}
	&_green-light {
		background-color: #e3f3d9;
		color: #467427 !important;
	}
	&_blue {
		background-color: #ccecfc;
		color: #1a719e !important;
	}
	&_pink {
		color: #89163f!important;
		background-color: #fad3e1
	}
	&_yellow {
		color: #cb7b00!important;
		background-color: #fff5cc;
	}
	&_brown {
		color: #655440!important;
		background-color: #ece6df;
	}
	&_orange {
		color: #a0630d!important;
		background-color: #ffeacc;
	}
	&_green {
		color: #467427!important;
		background-color: #e3f3d9;
	}
	&_red {
		color: #99231d!important;
		background-color: #ffd8d6;
	}
	&_indigo {
		color: #353480!important;
		background-color: #deddf7;
	}
	&_violet {
		color: #7b277a!important;
		background-color: #f5e3f9;
	}
}
a.tag {
	&_grey {
		&:hover {
			background-color: #cdd2d6;
		}
	}
	&_blue {
		&:hover {
			background-color: #9cdaf9;
		}
	}
	&_pink {
		&:hover {
			background-color: #f5a5c2;
		}
	}
	&_yellow {
		&:hover {
			background-color: #ffeb99;
		}
	}
	&_brown {
		&:hover {
			background-color: #d9cdbf;
		}
	}
	&_orange {
		&:hover {
			background-color: #ffd599;
		}
	}
	&_green {
		&:hover {
			background-color: #c6e7b2;
		}
	}
	&_red {
		&:hover {
			background-color: #ffa7a3;
		}
	}
	&_violet {
		&:hover {
			background-color: #e6b9f0;
		}
	}
}
.tag-close {
	&:hover {
		color: $document-color !important;
	}
}