
.tooltip {
	&_style_two {
		.arrow {
			// margin-left: 12px;
		}
	}
}
.tooltip.show {
	opacity: 1;
}
.tooltip-inner {
	box-shadow: 0 0 18px rgba(0,0,0,.5);
	background-color: #fff;
	border-radius: 8px;
	opacity: 1;
	color: $document-color;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
	border-top-color: #fff;
}
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
	border-bottom-color: #fff;
}