.usage-item {
	display: block;
	text-align: center;
	text-decoration: none !important;
	color: #fff !important;
	@include msm() {
		font-size: 14px;
	}
	&:hover {
		.usage-item-circle {
			transform: scale(1.1, 1.1);
		}
	}
}
.usage-item-circle {
	width: 60px;
	height: 60px;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	font-weight: 700;
	color: #fff;

	border-radius: 50%;
	background-color: #e42469;
	transition: linear .1s;
}
.usage-item-circle {

}