.vacancy-type {
	// padding: 30px 0;
	margin-bottom: 30px;
}
.vacancy-type__container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.vacancy-type__row {
	display: flex;
	flex-wrap: wrap;
}
.vacancy-type__column {
	width: 100%;
	flex: 0 0 percentage(4/12);
	max-width: percentage(4/12);
	border: 1px solid #e9ebed;
	margin-right: -1px;
	margin-bottom: -1px;
	@include mmd() {
		max-width: none;
		flex: 0 1 auto;
	}
}
.vacancy-type-item {
	position: relative;
	display: flex;
	flex-direction: column;
	color: #0094df;
	&:hover, &:focus {
		text-decoration: none;
	}
}
.vacancy-type-item__in {
	min-height: 110px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	
	padding: 20px 100px 20px 120px;
	background-color: #fff;
	background-image: url('../images/category-sprite.png');
	background-repeat: no-repeat;
	&_category {
		background-position: 20px -2723px;
		&:hover, &:focus {
			background-position: 20px -2728px;
		}
	}
	&_cities {
		background-position: 20px 12px;
		&:hover, &:focus {
			background-position: 20px 7px;
		}
	}
	&_companys {
		background-position: 20px -216px;
		&:hover, &:focus {
			background-position: 20px -221px;
		}
	}
	&_speciality {
		background-position: 20px -443px;
		&:hover, &:focus {
			background-position: 20px -448px;
		}
	}
	&_students {
		background-position: 20px -2953px;
		&:hover, &:focus {
			background-position: 20px -2958px;
		}
	}
	&_disability {
		background-position: 20px -6370px;
		&:hover, &:focus {
			background-position: 20px -6375px;
		}
	}
}
