.wrap {
	display: block;
	&:hover {
		text-decoration: none;
	}
	&_background_white {
		background-color: #fff;
	}
	&[data-trigger="link"] {
		border: 1px solid transparent;
		&:hover {
			border: 1px solid #abb2ba;
			cursor: pointer;
		}
	}
}


.warning-wrap {
	background-color: #ffeacc;
	border: 1px solid #ffd3b3;
	border-radius: 10px;
}