.wrapper {
	display: flex;
	flex-direction: column;
	// overflow: hidden;
}
.wrapper__in {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	&_background_white {
		background-color: #fff;
	}
}
.wrapper__content {
	padding: 30px 0;
}