.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: #fff;

	opacity: 0;
	visibility: hidden;

	overflow-y: auto;
	overflow-x: hidden;
	&.visible {
		opacity: 1;
		visibility: visible;

		transition: linear .1s;
	}
}

.popup-close {
	position: absolute;
	top: 20px;
	right: 30px;
}