html {
	font-size: $rem-font-size;
}
body {
	position: relative;

	font-family: $document-font-family;
	font-weight: $document-font-weight;
	font-size: $document-font-size;
	line-height: $document-line-height;
	color: $document-color;

	background-color: $document-background;
	&.scroll-hidden {
		overflow: hidden;
		@include lg() {
			padding-right: 17px;
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}

.top-1-negative {
	top: -1px;
}
.top-2-negative {
	top: -1px;
}

.w-275 {
	width: 275px;
}
.w-sm-auto {
	@include sm() {
		width: auto !important;
	}
}
.w-md-auto {
	@include md() {
		width: auto !important;
	}
}
.w-lg-auto {
	@include lg() {
		width: auto !important;
	}
}
.w-sm-50 {
	@include sm() {
		width: 50% !important;
	}
}

.top-15-negative {
	top: -15px;
}

.background-yellow {
	background: rgba(245,166,35,.1);
}
.background-white {
	background: #fff;
}
.background-grey {
	background-color: #f4f5f6;
}
.border-color-orange {
	border-left-color: #f5a623;
}
.border {
	border: 1px solid #e9ebed !important;
}
.border-hover {
	&:hover {
		border-color: #abb2ba !important;
	}
}

.img-height-120 {
	height: 120px;
}
.radius-none {
	border-radius: 0 !important;
}

.maxw-380 {
	max-width: 380px;
}

.bg-grey {
	background-color: #f4f5f6;
}

.maxw-none {
	max-width: none !important;
}

.bg-gradient-v2 {
	background: -webkit-linear-gradient(-82deg, #e4246a 0, #dc286d 13%, #be3a80 20%, #90549e 30%, #135ea8 39%, #1a5a99 55%, #154a7e 70%, #003163 81%, #001529 99%, #003366 100%);
	background: -moz-linear-gradient(-82deg, #e4246a 0, #dc286d 13%, #be3a80 20%, #90549e 30%, #135ea8 39%, #1a5a99 55%, #154a7e 70%, #003163 81%, #001529 99%, #003366 100%);
	background: -o-linear-gradient(-82deg, #e4246a 0, #dc286d 13%, #be3a80 20%, #90549e 30%, #135ea8 39%, #1a5a99 55%, #154a7e 70%, #003163 81%, #001529 99%, #003366 100%);
	background: -ms-linear-gradient(-82deg, #e4246a 0, #dc286d 13%, #be3a80 20%, #90549e 30%, #135ea8 39%, #1a5a99 55%, #154a7e 70%, #003163 81%, #001529 99%, #003366 100%);
	color: #fff !important;
	a {
		color: #fff !important;
		&.active {
			font-weight: 700;
		}
	}
	.link {
		color: #fff !important;
		&_arrow_down {
			&:after {
				border-color: #fff;
			}
		}
	}
}

.maxw-600 {
	max-width: 600px;
}

