.container-fluid {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	&_small {
		@include xl() {
			max-width: 1020px;
		}
	}
}

.column {
	padding-left: 15px;
	padding-right: 15px;
}
.row {
	&_indents_s {
		margin-left: -5px;
		margin-right: -5px;
		& > * {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	&_indents_m {
		margin-left: -10px;
		margin-right: -10px;
		& > * {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}


.tooltip-inner {
	max-width: none;
}