.svg-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
	&_font_size_50 {
		font-size: 50px;
	}
	&_reverse {
		transform: rotate(180deg);
	}
	&_rotate_90 {
		transform: rotate(90deg);
	}
	&.to-left {
		transform: rotate(-180deg);
	}
}

.loc-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url('../images/loc.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 18px 18px;
	// font-size: 0;
	&:hover, &:focus {
		text-decoration: none !important;
	}
}