$rem-font-size: 17px;
$font: 'Arial', 'Helvetica', sans-serif;

// values for body tag
$document-font-family: $font;
$document-font-weight: 400;
$document-font-size: 1rem;
$document-color: #2c3f52;
$document-line-height: 1.41;
$document-background: #f4f5f6;