<footer class="footer">
	<div class="container-fluid">
		<div class="footer__head row justify-content-between align-items-center">
			<div class="footer__head-column column">
				<div class="lang">
					<a class="lang__button lang__button_blue" href="#">Русский</a>
					<ul class="lang__list">
						<li><a href="#">Русский</a></li>
						<li><a href="#">Узбекский</a></li>
						<li><a href="#">Английский</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__head-column column">
				<div class="lang user-type">
					<a class="lang__button lang__button_user lang__button_blue lang__button_border" href="#">Работадателю</a>
				</div>
			</div>
		</div>
		<ul class="footer-menu">
			<li><a href="#">Ресурсы</a></li>
			<li><a href="#">Контакты</a></li>
			<li><a href="#">О нас</a></li>
			<li><a href="#">Новости Work</a></li>
			<li><a href="#">Помощь</a></li>
			<li><a href="#">Условия использования</a></li>
		</ul>
		<div class="footer-copy">&copy; 2006–2019 Work.ua. Сайт поиска работы №1 в Украине.</div>
		<hr>
		<div class="d-flex justify-content-end">
			<ul class="footer-menu">
				<li><a href="#">Образование</a></li>
				<li><a href="#">Тренинги</a></li>
				<li><a href="#">Typing tutor</a></li>
			</ul>
		</div>
	</div>
</footer>