<header class="header header_unregister">
	<div class="header__container">
		<div class="header__row header__row_flex-end">
			<div class="header__column">
				<div class="lang">
					<a class="lang__button" href="#">Русский</a>
					<ul class="lang__list">
						<li><a href="#">Русский</a></li>
						<li><a href="#">Узбекский</a></li>
						<li><a href="#">Английский</a></li>
					</ul>
				</div>
			</div>
			<div class="header__column">
				<div class="lang user-type">
					<a class="lang__button lang__button_user" href="employer.html">Работадателю</a>
				</div>
			</div>
		</div>
		<div class="header__row header__row_secondary">
			<div class="header__column header__column_logo">
				<a class="header__logo logo" href="index.html">
					<img src="images/work-uz.png" alt="">
				</a>
			</div>
			<ul class="header__add-type add-type">
				<li>
					<a href="vacancy.html">
						<span class="text-center">
							<svg class="svg-icon d-block ml-auto mr-auto d-lg-none">
								<use xlink:href="images/svg-sprite/svgSprite.svg#search"></use>
							</svg>
							<span class="d-none d-lg-inline-block">Найти</span>
							вакансии
						</span>
					</a>
				</li>
				<li>
					<a href="register.html">
						<span class="text-center">
							<svg class="svg-icon d-block ml-auto mr-auto d-lg-none">
								<use xlink:href="images/svg-sprite/svgSprite.svg#plus"></use>
							</svg>
							<span class="d-none d-lg-inline-block">Разместить</span>
							резюме
						</span>
					</a>
				</li>
			</ul>
			<div class="header__column header__column_personal personal">
				<a class="header__log-button button" href="login.html">
					<svg class="svg-icon d-block d-lg-none ml-auto mr-auto">
						<use xlink:href="images/svg-sprite/svgSprite.svg#lock"></use>
					</svg>
					<span>Войти</span>
				</a>
			</div>
		</div>
	</div>
</header>