<!-- <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="theme-color" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" href="favicon-16x16.png">
<link rel="icon" type="image/png" href="favicon-32x32.png">
<link rel="stylesheet" type="text/css" href="css/style.css"> -->


<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta http-equiv="content-language" content="ru">

	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="no-cache">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta name="format-detection" content="telephone=no">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="theme-color" content="#ffffff">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@test">

	<meta property="og:url" content="https:www.test.uz/">
	<meta property="og:title" content="test.uz — top site">
	<meta property="og:description" content="">
	<meta property="og:image" content="https:test.uz/i/og/test-logo.png">
	<meta property="og:type" content="article">
	<meta property="og:locale" content="ru_RU">
	<meta property="og:locale:alternate" content="uk_UA">
	<meta property="og:locale:alternate" content="en_US">
	<meta name="msapplication-config" content="test.uz/browser/ie/browserconfig.xml?v2=1">

	<link rel="shortcut icon" href="test.uz/browser/favicon.ico?v2=1">
	<link rel="apple-touch-icon" sizes="60x60" href="test.uz/browser/safari/apple-touch-icon-60x60.png?v=1">
	<link rel="apple-touch-icon" sizes="76x76" href="test.uz/browser/safari/apple-touch-icon-76x76.png?v=1">
	<link rel="apple-touch-icon" sizes="120x120" href="test.uz/browser/safari/apple-touch-icon-120x120.png?v=1">
	<link rel="apple-touch-icon" sizes="152x152" href="test.uz/browser/safari/apple-touch-icon-152x152.png?v=1">
	<link rel="apple-touch-icon" sizes="167x167" href="test.uz/browser/safari/apple-touch-icon-167x167.png?v=1">
	<link rel="apple-touch-icon" sizes="180x180" href="test.uz/browser/safari/apple-touch-icon-180x180.png?v=1">
	<link rel="mask-icon" href="test.uz/browser/safari/website_icon.svg?v2=1" color="#00a1f1">
	<link rel="yandex-tableau-widget" href="test.uz/browser/yandex-tableau/manifest.json?v2=11">
	<link rel="canonical" href="https:www.test.uz/ru/">
	<link rel="alternate" hreflang="uk" href="https:www.test.uz/">
	<link rel="alternate" hreflang="ru" href="https:www.test.uz/ru/">
	<link rel="alternate" hreflang="en" href="https:www.test.uz/en/">
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
