<header class="header header-title pt-0 pb-5">
	<div class="header__container">
		<div class="title-logo pt-5">
			<a class="logo mb-2" href="index.html">
				<img src="images/work-uz.png" width="100" alt="">
			</a>
			<h1>Как найти работу</h1>
			<div class="mb-4">
				Если вы ищете работу, эта инструкция — для вас. <br> Вы узнаете, как написать резюме и сопроводительное <br> письмо, пройти собеседование и получить желанную <br> должность. Выполните все пункты из этой инструкции, <br> и работа обязательно найдется!
			</div>
			<button class="button button_radius_21 button-clr" type="button" data-toggle="toggleVisible" data-target="contents">Содержание</button>
		</div>
	</div>
</header>