<header class="header header_v2">
	<div class="header__container">
		<div class="header__row header__row_flex-end">
			<div class="header__column">
				<div class="lang">
					<a class="lang__button" href="#">Русский</a>
					<ul class="lang__list">
						<li><a href="#">Русский</a></li>
						<li><a href="#">Узбекский</a></li>
						<li><a href="#">Английский</a></li>
					</ul>
				</div>
			</div>
			<div class="header__column">
				<div class="lang user-type">
					<a class="lang__button lang__button_user" href="index.html">Соискателю</a>
				</div>
			</div>
		</div>
		<div class="header__row header__row_secondary">
			<div class="header__column header__column_logo">
				<a class="header__logo logo" href="index.html">
					<img src="images/work-uz-employer.png" alt="">
				</a>
			</div>
			<ul class="header__add-type add-type">
				<li>
					<a href="vacancy.html">
						<span class="text-center">
							<svg class="svg-icon d-block ml-auto mr-auto d-lg-none">
								<use xlink:href="images/svg-sprite/svgSprite.svg#search"></use>
							</svg>
							<span class="d-none d-lg-inline-block">Найти</span>
							вакансии
						</span>
					</a>
				</li>
				<li>
					<a href="register.html">
						<span class="text-center">
							<svg class="svg-icon d-block ml-auto mr-auto d-lg-none">
								<use xlink:href="images/svg-sprite/svgSprite.svg#plus"></use>
							</svg>
							<span class="d-none d-lg-inline-block">Разместить</span>
							резюме
						</span>
					</a>
				</li>
			</ul>
			<div class="header__column header__column_personal personal">
				<a class="header__log-button button" href="login.html">
					<svg class="svg-icon d-block d-lg-none ml-auto mr-auto">
						<use xlink:href="images/svg-sprite/svgSprite.svg#lock"></use>
					</svg>
					<span>Войти</span>
				</a>
			</div>
		</div>
	</div>
	<div class="header-search">
		<div class="header__container">
			<h1 class="header-search__title">Сайт поиска работы №1 в Узбекистане</h1>
			<div class="header-search__descr">Сейчас у нас <a class="header-search__number" href="#"><strong>999999999</strong> актуальных вакансий</a></div>
			<form>
				<div class="header-search__row row row_indents_s align-items-center">
					<div class="column flex-grow-1 flex-shrink-0 w-100 w-md-auto">
						<input class="header-search__input" type="text" placeholder="Запрос">
					</div>
					<div class="column d-flex flex-nowrap flex-grow-1 flex-sm-grow-0 flex-md-grow-1 w-sm-50 w-md-auto">
						<select class="header-search-select">
							<option value="1">Ташкент</option>
							<option value="2">Самарканд</option>
							<option value="3" selected>Бухара</option>
						</select>
						<button class="header-search__submit button-red ml-2" type="submit">
							<svg class="svg-icon d-sm-none">
								<use xlink:href="images/svg-sprite/svgSprite.svg#search"></use>
							</svg>
							<span class="d-none d-sm-block">Найти</span>
						</button>
					</div>
					<div class="column ml-auto">
						<a class="header-search__extented nowrap" href="#">Настройки</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</header>